<div class="container group-login-wrapper" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
    <div class="m-b-lg clear">
        <div class="login-right" ng-show="!has_more_group">
            <h4 class="text-center">登&nbsp;&nbsp;&nbsp;&nbsp;录</h4>
            <form name="form" class="form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError || loginError">
                    {{authError || loginError}}
                </div>
                <div id="login_with_pswd">
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="text" placeholder="玄关医生账号(手机号)" class="form-control no-border" ng-model="user.telephone" tabindex="1" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="玄关医生密码" class="form-control no-border" ng-model="user.password" tabindex="2" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="login()" ng-disabled='form.$invalid'>登&nbsp;&nbsp;录</button>
                <a ui-sref="access.register" class="btn btn-lg btn-primary btn-block">注&nbsp;&nbsp;册</a>
            </form>
        </div>
    </div>
</div>
<div class="cprt-footer" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
</div>
