<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.DespatchAnalysisMapper" >


  <sql id="Base_Column_List" >
    id, dept_name
  </sql>

<!--Date startTm; // 统计开始时间
	Date endTm; // 统计查询结束时间
	List<String> senderCustNos; // 发送单位月结卡号列表
	List<Long> senderDeptIds; // 发送单位ID列表
			List<Long> receiverDeptIds; // 接收单位ID列表
			List<String> receiverCustNos; // 接收单位月结卡号列表
	List<Long> goodsIds; // 物资ID列表 -->

  <select id="findArrivalAnalysisByCond" resultType="com.sf.kh.dto.ArrivalAnalysisDto" parameterType="java.util.Map">
    <!-- 顺丰发货总量,分开的总量(在途/已签收/正在派送/其他)-->
	select tw.waybill_status,count(distinct tw.waybill_no) goods_num
	 from t_waybill tw,t_despatch_batch tdb,t_despatch_goods tdg
	 where tw.waybill_no = tdb.waybill_no
	 and tdb.batch_id = tdg.batch_id
	 
	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
	 group by tw.waybill_status
  </select>
  
  <select id="findEffectivenessAnalysisByCond" resultType="com.sf.kh.dto.EffectivenessAnalysisDto" parameterType="java.util.Map">
	<!-- 时效分析 -->
 	select t.stat,count(distinct t.waybill_no) total_num from 
	(select tw.waybill_no, case when tw.delivery_duration <![CDATA[ < ]]> 24 then '<![CDATA[<]]>24H' 
	 when tw.delivery_duration between '24' and '48' then '24~48H'
	 when tw.delivery_duration between '48' and '72' then '48~72H'
	 when tw.delivery_duration <![CDATA[ > ]]> 72 then '<![CDATA[>]]>72H'
	 else null end as stat
	 from t_waybill tw,t_despatch_batch tdb,t_despatch_goods tdg
	 where tw.waybill_no = tdb.waybill_no
	 and tdb.batch_id = tdg.batch_id
	 
	 <!--  快件状态 -->
	 and tw.waybill_status = '已签收'
	 
 	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
 	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 ) t
	 group by t.stat
  </select>

  <select id="findExceptionalAnalysisByCond" resultType="com.sf.kh.dto.ExceptionalAnalysisDto" parameterType="java.util.Map">
  	<!-- 异常分析 -->
		 select distinct tw.waybill_no,tw.waybill_status,tw.consigned_time,tw.sender_city,tw.dest_city,
	 case when tw.no_sign <![CDATA[ > ]]> 0 then '超时未签收' 
	 else null end as stat
	 from t_waybill tw,t_despatch_batch tdb,t_despatch_goods tdg
	 where tw.waybill_no = tdb.waybill_no
	 and tdb.batch_id = tdg.batch_id
	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
 	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 union
	 	 select distinct tw.waybill_no,tw.waybill_status,tw.consigned_time,tw.sender_city,tw.dest_city,
	case when tw.no_route <![CDATA[ > ]]> 0 then '超时无物流'
	 else null end as stat
	 from t_waybill tw,t_despatch_batch tdb,t_despatch_goods tdg
	 where tw.waybill_no = tdb.waybill_no
	 and tdb.batch_id = tdg.batch_id
	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
 	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 union
	 	 select distinct tw.waybill_no,tw.waybill_status,tw.consigned_time,tw.sender_city,tw.dest_city,
	case when (tw.exception_describe is not null and tw.exception_describe <![CDATA[ <> ]]> '') or tw.exception_time is not null then '派送异常'
	 else null end as stat
	 from t_waybill tw,t_despatch_batch tdb,t_despatch_goods tdg
	 where tw.waybill_no = tdb.waybill_no
	 and tdb.batch_id = tdg.batch_id
	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
 	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
	 
  </select>
  
  <select id="findFlowDirectionAnalysisBycond" resultType="com.sf.kh.dto.FlowDirectionAnalysisDto" parameterType="java.util.Map">
  	<!-- 流向分析 -->
	select max(tw.sender_city) sender_addr_city,tw.dest_city receiver_addr_city,sum(${shortTable}.goods_num) goods_num
	 from t_waybill tw,t_despatch_batch tdb
	 <if test="shortTable != 'tdb'">
	 	,t_despatch_goods tdg
	 </if>
	 where tw.waybill_no = tdb.waybill_no
	 
	 <if test="shortTable != 'tdb'">
	 	and tdb.batch_id = tdg.batch_id
	 </if>
	 
 	 <if test="startCity != null and startCity != '' and startCity != '全部'.toString() ">
	 	and tw.sender_city = #{startCity}
	 </if>
	 
	 <if test="startTm != null and endTm != null" >
	 <!-- 寄件时间-->
	 	and tw.consigned_time between #{startTm} and #{endTm}
	 </if>
	 <if test="senderCustNos != null and senderCustNos.size() > 0">
	 	<!-- 发送单位多个月结卡号 -->
	 	and tw.cust_no in
	 	<foreach item="item" index="index" collection="senderCustNos" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
 	 <if test="senderDeptIds != null and senderDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.send_company_id in
	 	<foreach item="item" index="index" collection="senderDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
 	 <!-- 接收单位ID -->
	 <if test="receiverDeptIds != null and receiverDeptIds.size() > 0">
	 	<!-- 发送单位ID列表 -->
	 	and tdb.receive_company_id in
	 	<foreach item="item" index="index" collection="receiverDeptIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 
  	 <if test="goodsIds != null and goodsIds.size() > 0">
	 	<!-- 物资ID列表 -->
	 	and tdg.goods_id in
	 	<foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")"> 
	   		#{item} 
		</foreach>
	 </if>
	 group by tw.sender_city,tw.dest_city
	 order by goods_num desc
  </select>


</mapper>