<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.kh.dao.mapper.DespatchBatchMapper">
	
	<resultMap id="despatchBatchResultMap" type="com.sf.kh.model.DespatchBatch" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="batch_id" property="batchId" jdbcType="BIGINT" />
	    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
	    <result column="send_company_id" property="sendCompanyId" jdbcType="BIGINT" />
	    <result column="sender" property="sender" jdbcType="VARCHAR" />
	    <result column="sender_tel" property="senderTel" jdbcType="VARCHAR" />
	    <result column="sender_addr_province" property="senderAddrProvince" jdbcType="VARCHAR" />
	    <result column="sender_addr_city" property="senderAddrCity" jdbcType="VARCHAR" />
	    <result column="sender_addr_area" property="senderAddrArea" jdbcType="VARCHAR" />
	    <result column="sender_addr_other" property="senderAddrOther" jdbcType="VARCHAR" />
	    <result column="receive_company_type" property="receiveCompanyType" jdbcType="INTEGER" />
	    <result column="receive_company_id" property="receiveCompanyId" jdbcType="BIGINT" />
	    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
	    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
	    <result column="receiver_addr_province" property="receiverAddrProvince" jdbcType="VARCHAR" />
	    <result column="receiver_addr_city" property="receiverAddrCity" jdbcType="VARCHAR" />
	    <result column="receiver_addr_area" property="receiverAddrArea" jdbcType="VARCHAR" />
	    <result column="receiver_addr_other" property="receiverAddrOther" jdbcType="VARCHAR" />
	    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
	    <result column="package_type" property="packageType" jdbcType="INTEGER" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
	    <result column="create_tm" property="createTm" jdbcType="VARCHAR" />
	    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
	    <result column="update_tm" property="updateTm" jdbcType="VARCHAR" />
	    <result column="print_tm" property="printTm" jdbcType="VARCHAR" />
	    <result column="version" property="version" jdbcType="INTEGER" />
	</resultMap>

    <sql id="Base_Column_List" >
	    id, batch_id, waybill_no, send_company_id, sender, sender_tel, sender_addr_province, sender_addr_city,sender_addr_area,
	    sender_addr_other, receive_company_type, receive_company_id, receiver, receiver_tel, 
	    receiver_addr_province,receiver_addr_city,receiver_addr_area,receiver_addr_other, goods_num, package_type, remark, create_by, 
	    create_tm, update_by, update_tm, print_tm,version
	</sql>

    <select id="getByBatchId" resultMap="despatchBatchResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_despatch_batch WHERE batch_id=#{batchId}
    </select>
    
    <select id="getTodayMaxBatchCode" resultMap="despatchBatchResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_despatch_batch
        where create_tm  &gt;= #{dateStr} order by create_tm desc limit 1
    </select>
    
    
    <select id="query4list" resultMap="despatchBatchResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_despatch_batch
        <where> 
           and (waybill_no is null  or waybill_no ='')
           <if test="deptId != null and deptId!=''" >
          	 and send_company_id=#{deptId} 
           </if>
        </where>
        ORDER BY id desc
    </select>
    
    <insert id="insert">
        INSERT INTO t_despatch_batch (
            batch_id, send_company_id, sender, sender_tel, 
            sender_addr_province, sender_addr_city,sender_addr_area,sender_addr_other,
	    	receive_company_type, receive_company_id, receiver, receiver_tel, 
	    	receiver_addr_province,receiver_addr_city,receiver_addr_area,receiver_addr_other,
	    	goods_num, package_type, remark, create_by, create_tm, update_tm,print_tm
        ) VALUES (
            #{batchId},#{sendCompanyId},#{sender},#{senderTel},
            #{senderAddrProvince}, #{senderAddrCity}, #{senderAddrArea}, #{senderAddrOther},
            #{receiveCompanyType},#{receiveCompanyId},#{receiver},#{receiverTel},
            #{receiverAddrProvince}, #{receiverAddrCity}, #{receiverAddrArea}, #{receiverAddrOther},
            #{goodsNum},#{packageType},#{remark},#{createBy},#{createTm},#{updateTm},#{printTm}
        )
    </insert>
    
    <insert id="insertBatchId" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_despatch_batch (
            batch_id,create_by,create_tm
        ) VALUES (
            #{batchId},#{createBy},#{createTm}
        )
    </insert>
    
    <update id="updateByBatchId">
	    update t_despatch_batch
	    <set>
	      <if test="sendCompanyId != null and sendCompanyId!=''" >
	        send_company_id = #{sendCompanyId,jdbcType=BIGINT},
	      </if>
	      <if test="sender != null and sender!=''" >
	        sender = #{sender,jdbcType=VARCHAR},
	      </if>
	      <if test="senderTel != null and senderTel!=''" >
	        sender_tel = #{senderTel,jdbcType=VARCHAR},
	      </if>
	      <if test="senderAddrProvince != null and senderAddrProvince!=''" >
	        sender_addr_province = #{senderAddrProvince,jdbcType=VARCHAR},
	      </if>
	      <if test="senderAddrCity != null and senderAddrCity !=''" >
	        sender_addr_city = #{senderAddrCity,jdbcType=VARCHAR},
	      </if>
	      <if test="senderAddrArea != null and senderAddrArea !=''" >
	        sender_addr_area = #{senderAddrArea,jdbcType=VARCHAR},
	      </if>
	      <if test="senderAddrOther != null and senderAddrOther !=''" >
	        sender_addr_other = #{senderAddrOther,jdbcType=VARCHAR},
	      </if>
	      <if test="receiveCompanyType != null" >
	        receive_company_type = #{receiveCompanyType,jdbcType=INTEGER},
	      </if>
	      <if test="receiveCompanyId != null" >
	        receive_company_id = #{receiveCompanyId,jdbcType=BIGINT},
	      </if>
	      <if test="receiver != null" >
	        receiver = #{receiver,jdbcType=VARCHAR},
	      </if>
	      <if test="receiverTel != null" >
	        receiver_tel = #{receiverTel,jdbcType=VARCHAR},
	      </if>
	      <if test="receiverAddrProvince != null and receiverAddrProvince !=''" >
	        receiver_addr_province = #{receiverAddrProvince,jdbcType=VARCHAR},
	      </if>
	      <if test="receiverAddrCity != null and receiverAddrCity !=''" >
	        receiver_addr_city = #{receiverAddrCity,jdbcType=VARCHAR},
	      </if>
	      <if test="receiverAddrArea != null and receiverAddrArea !=''" >
	        receiver_addr_area = #{receiverAddrArea,jdbcType=VARCHAR},
	      </if>
	      <if test="receiverAddrOther != null and receiverAddrOther !=''" >
	        receiver_addr_other = #{receiverAddrOther,jdbcType=VARCHAR},
	      </if>
	      <if test="goodsNum != null" >
	        goods_num = #{goodsNum,jdbcType=INTEGER},
	      </if>
	      <if test="packageType != null" >
	        package_type = #{packageType,jdbcType=INTEGER},
	      </if>
	      <if test="remark != null" >
	        remark = #{remark,jdbcType=VARCHAR},
	      </if>
	    </set>
    	where batch_id = #{batchId}
  </update>
    
    <update id="updateWaybill">
    	<foreach collection="list" item="item" index= "index" separator=";">
    		update t_despatch_batch 
    		<set>
    			waybill_no = #{item.waybillNo},update_tm = #{item.updateTm}
    		</set>
    		where batch_id = #{item.batchId}
    	</foreach>
    </update>
    
    <update id="updatePrintTm">
   		 update t_despatch_batch set print_tm = #{printTm} 
   		 where batch_id = #{batchId} and create_by = #{userId}
    </update>
</mapper>
