<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.kh.dao.mapper.GoodsStatisticsDetailDtoMapper">
	<resultMap id="goodsStatisticsDetailDtoResultMap" type="com.sf.kh.dto.GoodsStatisticsDetailDto" >
	    <id column="id" property="goods_id" jdbcType="BIGINT" />
	    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
	    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
	    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
	    <result column="first_category" property="firstCategoryName" jdbcType="VARCHAR" />
	    <result column="second_category" property="secondCategoryName" jdbcType="VARCHAR" />
		<result column="send_amount" property="sendCount" jdbcType="INTEGER" />
		<result column="receive_amount" property="receiveCount" jdbcType="INTEGER" />
		<result column="un_receive_amount" property="unReceiveCount" jdbcType="INTEGER" />
		<result column="receive_rate" property="receiveRate" jdbcType="DOUBLE" />
	</resultMap>
    
    <select id="query4list" resultMap="goodsStatisticsDetailDtoResultMap">
    	select * from (select goods_id,goods_code,goods_name,goods_unit,first_category,second_category,
    		sum(send_amount) as send_amount,sum(receive_amount) as receive_amount,
			case when sum(send_amount) =0 then 0 else sum(send_amount)-sum(receive_amount) end as un_receive_amount,
			case when sum(send_amount) =0 then 0 else 
				round(ifnull(sum(receive_amount)/sum(send_amount),0)*100,2)
			end as receive_rate 
			from t_goods_statistics_detail_version_data d
			where `version` = (select ifnull(max(`version`),1) from t_overview_version)
			and consigned_date between #{sendStartDate} and #{sendEndDate}
			<if test="sendDeptIds!=null and sendDeptIds.size>0">
				and send_company_id in 
				<foreach collection="sendDeptIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
			</if>
	        <if test="receiveDeptIds!=null and receiveDeptIds.size>0">
		        and receive_company_id in
				<foreach collection="receiveDeptIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
	        </if>
			<if test="goodsIds!=null and goodsIds.size>0">
				and goods_id in
				<foreach collection="goodsIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
			</if>
			group by goods_id order by goods_id asc
		) a 
    </select>
    
    
    <select id="exportAllList" resultMap="goodsStatisticsDetailDtoResultMap">
    	select * from (select goods_id,goods_code,goods_name,goods_unit,first_category,second_category,
    		sum(send_amount) as send_amount,sum(receive_amount) as receive_amount,
			case when sum(send_amount) =0 then 0 else sum(send_amount)-sum(receive_amount) end as un_receive_amount,
			case when sum(send_amount) =0 then 0 else 
				round(ifnull(sum(receive_amount)/sum(send_amount),0)*100,2)
			end as receive_rate 
			from t_goods_statistics_detail_version_data d
			where `version` = (select ifnull(max(`version`),1) from t_overview_version)
			and consigned_date between #{sendStartDate} and #{sendEndDate}
			<if test="sendDeptIds!=null and sendDeptIds.size>0">
				and send_company_id in 
				<foreach collection="sendDeptIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
			</if>
	        <if test="receiveDeptIds!=null and receiveDeptIds.size>0">
		        and receive_company_id in
				<foreach collection="receiveDeptIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
	        </if>
			<if test="goodsIds!=null and goodsIds.size>0">
				and goods_id in
				<foreach collection="goodsIds" item="item" index="index" open="(" close=")" separator=",">
		            #{item}
		        </foreach>
			</if>
			group by goods_id order by goods_id asc
		) a 
    </select>
    
</mapper>
