<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.GoodsDeptMapper" >
  <resultMap id="goodsDeptMap" type="com.sf.kh.model.GoodsDept" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="parent_category_id" property="parentCategoryId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="baseColumns" >
    id, parent_org_id,org_id, parent_category_id,category_id
  </sql>
  
   <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sf.kh.model.GoodsDept">
  	INSERT INTO t_goods_dept (
        parent_org_id,org_id, parent_category_id,category_id
     ) VALUES (
         #{parentOrgId},#{orgId},#{parentCategoryId},#{categoryId}
     )
  </insert>
  
  <select id="select" resultType="com.sf.kh.model.GoodsDept" parameterType="com.sf.kh.model.GoodsDept">
        SELECT <include refid="baseColumns"/> FROM t_goods_dept 
        <where>
        	<if test="parentOrgId!=null">parent_org_id=#{parentOrgId}</if>
            <if test="orgId!=null">and org_id=#{orgId}</if>
            <if test="parentCategoryId!=null">and parent_category_id=#{parentCategoryId}</if>
            <if test="categoryId!=null"> and category_id=#{categoryId}</if>
        </where>
        order by id desc
  </select>
  
  <select id="selectById" resultType="com.sf.kh.model.GoodsDept">
        SELECT <include refid="baseColumns"/> FROM t_goods_dept 
        <where>
            id = #{goodsDeptId} 
        </where>
  </select>
</mapper>