<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.ImportLogMapper" >
  <resultMap id="importLogResult" type="com.sf.kh.model.ImportLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="import_file_name" property="importFileName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="import_time" property="importTime" jdbcType="TIMESTAMP" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="baseColumns" >
    id, file_key, type, import_file_name, status, import_time, message,user_id
  </sql>
  
  <select id="query4list" resultMap="importLogResult">
       SELECT <include refid="baseColumns"/> FROM t_import_log
       <where>
       		<if test="type!=null and type!=''">
       			type = #{type}
       		</if>
       		<if test="userId !=null and userId != ''">
       			and user_id = #{userId}
       		</if>
       </where> 
       ORDER BY id desc
  </select>
  
  <update id="updateByFileKey">
    	update t_import_log
    	<set>
	      <if test="status != null" >
	        status = #{status,jdbcType=INTEGER},
	      </if>
	      <if test="importTime != null" >
	        import_time = #{importTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="message != null" >
	        message = #{message,jdbcType=VARCHAR},
	      </if>
	      <if test="userId != null" >
	        user_id = #{userId,jdbcType=VARCHAR},
	      </if>
	    </set>
    	where file_key = #{fileKey,jdbcType=VARCHAR}
  </update>
  
  <update id="updateById">
    	update t_import_log
    	<set>
	      <if test="status != null" >
	        status = #{status,jdbcType=INTEGER},
	      </if>
	      <if test="importTime != null" >
	        import_time = #{importTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="message != null" >
	        message = #{message,jdbcType=VARCHAR},
	      </if>
	      <if test="userId != null" >
	        user_id = #{userId,jdbcType=VARCHAR},
	      </if>
	    </set>
    	where id = #{id}
  </update>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into t_import_log (file_key, type, import_file_name, status, import_time, message,user_id) values(
	        #{fileKey},
	        #{type},
	        #{importFileName},
	        #{status},
	        #{importTime},
	        #{message},
	        #{userId}
	)
  </insert>
</mapper>