<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.IndexRankTop5Mapper" >
  <resultMap id="baseResultMap" type="com.sf.kh.model.IndexRankTop5" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name_id" property="nameId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="baseColumn" >
    id, name_id, name, amount, type, version
  </sql>
  <select id="getTop5Result" resultMap="baseResultMap">
    select <include refid="baseColumn" /> from t_index_rank_top_5
    where type = #{type} and version = #{version} and amount !=0
    order by amount desc limit 5
  </select>
</mapper>