<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.MonitorMapper">

 <!--   <resultMap id="shipmentStatistic" type="com.sf.kh.model.ShipmentStatistic">
        <result column="shipped" property="shipped" jdbcType="INTEGER"/>
        <result column="signed" property="signed" jdbcType="INTEGER"/>
        <result column="intransit" property="intransit" jdbcType="INTEGER"/>
        <result column="deliverying" property="deliverying" jdbcType="INTEGER"/>
        <result column="exception" property="exception" jdbcType="INTEGER"/>
        <result column="signRatio" property="signRatio" jdbcType="INTEGER"/>
    </resultMap>
-->

    <resultMap id="ShipmentDetailRM" type="com.sf.kh.model.ShipmentDetail">
        <id column="_gid" property="id" jdbcType="BIGINT"/>
        <result column="_batchId" property="batchId" jdbcType="BIGINT"/>
        <result column="_goodsId" property="goodsId" jdbcType="BIGINT"/>
        <result column="_category" property="category" jdbcType="VARCHAR"/>
        <result column="_childCategory" property="childCategory" jdbcType="VARCHAR"/>
        <result column="_name" property="name" jdbcType="VARCHAR"/>
        <result column="_unit" property="unit" jdbcType="VARCHAR"/>
        <result column="_goodsNum" property="goodsNum" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="ShipmentRM" type="com.sf.kh.model.Shipment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="waybillNo" property="waybillNo" jdbcType="VARCHAR"/>
        <result column="custNo" property="custNo" jdbcType="VARCHAR"/>
        <result column="paymentType" property="paymentType" jdbcType="VARCHAR"/>
        <result column="waybillStatus" property="waybillStatus" jdbcType="VARCHAR"/>
        <result column="batchId" property="batchId" jdbcType="BIGINT"/>
        <result column="packageType" property="packageType" jdbcType="VARCHAR"/>
        <result column="goodsNum" property="goodsNum" jdbcType="INTEGER"/>
        <result column="sendAddr" property="sendAddr" jdbcType="VARCHAR"/>
        <result column="rcvAddr" property="rcvAddr" jdbcType="VARCHAR"/>
        <result column="exceptionDesc" property="exceptionDesc" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="consignedTime" property="consignedTime" jdbcType="TIMESTAMP"/>
        <result column="signInTime" property="signInTime" jdbcType="TIMESTAMP"/>
        <collection property="shipmentDetails" ofType="com.sf.kh.model.ShipmentDetail" resultMap="ShipmentDetailRM">
        </collection>
    </resultMap>


    <select id="getShipmentsWithDetailCount" resultType="java.lang.Integer">
        SELECT
            count(distinct g.id)
        FROM
            t_waybill w,
            t_despatch_batch b,
            t_despatch_goods g,
            t_department ts,
            t_department tr
        WHERE
        w.waybill_no = b.waybill_no
        AND b.batch_id = g.batch_id
        AND b.send_company_id = ts.id
        AND b.receive_company_id = tr.id
        <include refid="sql_shipment_detail"/>

      order by w.consigned_time desc
    </select>



    <select id="getShipmentsWithDetail" resultMap="ShipmentRM">
        SELECT
            b.id              id,
            b.batch_id        batchId,
            b.package_type    packageType,
            b.goods_num       goodsNum,
            ts.dept_name      sendAddr,
            tr.dept_name      rcvAddr,
            w.waybill_no      waybillNo,
            w.consigned_time  consignedTime,
            w.sign_in_time    signInTime,
            w.waybill_status  waybillStatus,
            CONCAT(
                CASE WHEN (w.exception_describe is not null AND w.exception_describe <![CDATA[<>]]> '')
                THEN
                w.exception_describe
                ELSE
                ''
                END,

                CASE WHEN (w.no_sign > 0)
                THEN
                '|超时未签收'
                ELSE
                ''
                END,

                CASE WHEN (w.no_route > 0)
                THEN
                '|超时无状态更新'
                ELSE
                ''
                END
            ) AS exceptionDesc,
            g.id `_gid`,
            g.goods_id `_goodsId`,
            g.goods_num `_goodsNum`

        FROM
            t_waybill w,
            t_despatch_batch b,
            t_despatch_goods g,
            t_department ts,
            t_department tr
        WHERE
        w.waybill_no = b.waybill_no
        AND b.batch_id = g.batch_id
        AND b.send_company_id = ts.id
        AND b.receive_company_id = tr.id
        <include refid="sql_shipment_detail"/>

      order by w.consigned_time desc
    </select>

    <sql id="sql_shipment_detail">
          <if test="waybillStatus != null">
            <choose>
                <when test="waybillStatusCode==5">
                    AND (
                      (
                        w.exception_describe is not null
                        AND w.exception_describe  <![CDATA[<>]]> ''
                        AND w.exception_time is not null
                      )
                      or w.no_sign > 0
                      or w.no_route > 0
                    )
                </when>
                <when test="waybillStatusCode==1">
                    AND w.waybill_no is not null
                </when>
                <when test="waybillStatusCode==6">
                    AND w.waybill_status <![CDATA[<>]]> '已签收'
                    AND w.waybill_status is not null
                </when>
                <otherwise>
                    AND w.waybill_status = #{waybillStatus, jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </if>
        <if test="paymentType != null and paymentType!=''">
            AND w.payment_type = #{paymentType, jdbcType=VARCHAR}
        </if>
        <if test="consignedTimeFrom != null and consignedTimeFrom != '' ">
            AND w.consigned_time <![CDATA[>=]]>#{consignedTimeFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="consignedTimeTo != null and consignedTimeTo!='' ">
            AND w.consigned_time <![CDATA[<=]]> #{consignedTimeTo, jdbcType=TIMESTAMP}
        </if>
        <if test="sendCompanyIds != null and sendCompanyIds.size()>0">
            AND b.send_company_id in
            <foreach collection="sendCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="rcvCompanyIds != null and rcvCompanyIds.size()>0">
            AND b.receive_company_id in
            <foreach collection="rcvCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="custNos!=null and custNos.size()>0">
            AND ts.cust_no in
            <foreach collection="custNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


         <if test="rcvCustNos!=null and rcvCustNos.size()>0">
            AND tr.cust_no in
            <foreach collection="rcvCustNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


         <if test="bisNums !=null and bisNums.size()>0">
            AND b.waybill_no in
            <foreach collection="bisNums" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>


    <select id="getReceiveList" resultMap="ShipmentRM">
        SELECT
            b.batch_id        batchId,
            b.package_type    packageType,
            b.goods_num       goodsnum,
            ts.dept_name      sendAddr,
            tr.dept_name      rcvAddr,
            w.waybill_no      waybillNo,
            w.consigned_time  consignedTime,
            w.waybill_status  waybillStatus,
            w.sign_in_time    signInTime,
            CONCAT(
              CASE WHEN (w.exception_describe is not null AND w.exception_describe <![CDATA[<>]]> '')
              THEN
                  w.exception_describe
              ELSE
                ''
              END,

              CASE WHEN (w.no_sign > 0)
              THEN
                  '|超时未签收'
              ELSE
                ''
              END,

              CASE WHEN (w.no_route > 0)
              THEN
                  '|超时无状态更新'
              ELSE
                ''
              END
            ) AS exceptionDesc,
            b.remark remark

        FROM
            t_waybill w,
            t_despatch_batch b,
            t_department ts,
            t_department tr
        WHERE
            w.waybill_no = b.waybill_no
        AND b.receive_company_id = tr.id
        AND b.send_company_id = ts.id
        <if test="waybillStatus != null">
            <choose>
                <when test="waybillStatusCode==5">
                    AND (
                      (
                        w.exception_describe is not null
                        AND w.exception_describe  <![CDATA[<>]]> ''
                        AND w.exception_time is not null
                      )
                      or w.no_sign > 0
                      or w.no_route > 0
                    )
                </when>
                <when test="waybillStatusCode==1">
                    AND w.waybill_no is not null
                </when>
                 <when test="waybillStatusCode==6">
                    AND w.waybill_status <![CDATA[<>]]> '已签收'
                    AND w.waybill_status is not null
                </when>
                <otherwise>
                    AND w.waybill_status = #{waybillStatus, jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </if>

       <if test="consignedTimeFrom != null and consignedTimeFrom != '' ">
            AND w.consigned_time <![CDATA[>=]]>#{consignedTimeFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="consignedTimeTo != null and consignedTimeTo!='' ">
            AND w.consigned_time <![CDATA[<=]]> #{consignedTimeTo, jdbcType=TIMESTAMP}
        </if>
        <if test="sendCompanyIds != null and sendCompanyIds.size()>0">
            AND b.send_company_id in
            <foreach collection="sendCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="rcvCompanyIds != null and rcvCompanyIds.size()>0">
            AND b.receive_company_id in
            <foreach collection="rcvCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="custNos !=null and custNos.size()>0">
            AND tr.cust_no in
            <foreach collection="custNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="bisNums !=null and bisNums.size()>0">
            AND b.waybill_no in
            <foreach collection="bisNums" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        order by w.consigned_time desc
    </select>


    <select id="getShipments" resultMap="ShipmentRM">
        SELECT
            b.batch_id        batchId,
            b.package_type    packageType,
            b.goods_num       goodsnum,
            ts.dept_name      sendAddr,
            tr.dept_name      rcvAddr,
            w.waybill_no      waybillNo,
            w.consigned_time  consignedTime,
            w.waybill_status  waybillStatus,
            CONCAT(
              CASE WHEN (w.exception_describe is not null AND w.exception_describe <![CDATA[<>]]> '')
              THEN
                  w.exception_describe
              ELSE
                ''
              END,

              CASE WHEN (w.no_sign > 0)
              THEN
                  '|超时未签收'
              ELSE
                ''
              END,

              CASE WHEN (w.no_route > 0)
              THEN
                 '|超时无状态更新'
              ELSE
                ''
              END
            ) AS exceptionDesc,
            b.remark remark

        FROM
            t_waybill w,
            t_despatch_batch b,
            t_department ts,
            t_department tr
        WHERE
            w.waybill_no = b.waybill_no
        AND b.send_company_id = ts.id
        AND b.receive_company_id = tr.id
        <include refid="shipment_base_sql"/>

      order by w.consigned_time desc
    </select>

    <sql id="shipment_base_sql">
         <if test="waybillStatus != null">
            <choose>
                <when test="waybillStatusCode==5">
                     AND (
                      (
                        w.exception_describe is not null
                        AND w.exception_describe <![CDATA[<>]]> ''
                        AND w.exception_time is not null
                      )
                      or w.no_sign > 0
                      or w.no_route > 0
                    )
                </when>
                <when test="waybillStatusCode==1">
                    AND w.waybill_no is not null
                </when>
                 <when test="waybillStatusCode==6">
                    AND w.waybill_status <![CDATA[<>]]> '已签收'
                    AND w.waybill_status is not null
                </when>
                <otherwise>
                    AND w.waybill_status = #{waybillStatus, jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </if>

         <if test="paymentType != null and paymentType!=''">
            AND w.payment_type = #{paymentType, jdbcType=VARCHAR}
        </if>
       <if test="consignedTimeFrom != null and consignedTimeFrom != '' ">
            AND w.consigned_time <![CDATA[>=]]>#{consignedTimeFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="consignedTimeTo != null and consignedTimeTo!='' ">
            AND w.consigned_time <![CDATA[<=]]> #{consignedTimeTo, jdbcType=TIMESTAMP}
        </if>
        <if test="sendCompanyIds != null and sendCompanyIds.size()>0">
            AND b.send_company_id in
            <foreach collection="sendCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="rcvCompanyIds != null and rcvCompanyIds.size()>0">
            AND b.receive_company_id in
            <foreach collection="rcvCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="custNos !=null and custNos.size()>0">
            AND ts.cust_no in
            <foreach collection="custNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="bisNums !=null and bisNums.size()>0">
            AND b.waybill_no in
            <foreach collection="bisNums" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="getShipmentStatistic" resultType="statisticPair">
        SELECT
            w.waybill_status `status`, count(1) as `count`
        FROM
            t_waybill w,
            t_despatch_batch b,
            t_department t
        WHERE
            w.waybill_no = b.waybill_no
        AND b.send_company_id = t.id
        <include refid="sql_statistic" />

        GROUP BY w.waybill_status
        UNION

        SELECT
            "已发运" as `status`, count(1) as `count`
        FROM
            t_waybill w,
            t_despatch_batch b,
            t_department t
        WHERE
            w.waybill_no = b.waybill_no
        AND w.waybill_no is not null
        AND b.send_company_id = t.id
        <include refid="sql_statistic" />
        UNION
        SELECT
            "异常" as `status`, count(1) as `count`
        FROM
            t_waybill w,
            t_despatch_batch b,
            t_department t
        WHERE
            w.waybill_no = b.waybill_no
        AND b.send_company_id = t.id
         AND (
              (
                w.exception_describe is not null
                AND w.exception_describe <![CDATA[<>]]> ''
                AND w.exception_time is not null
              )
              or w.no_sign > 0
              or w.no_route > 0
         )

        <include refid="sql_statistic" />

    </select>

    <sql id="sql_statistic">
         <if test="paymentType != null and paymentType!=''">
            AND w.payment_type = #{paymentType, jdbcType=VARCHAR}
        </if>
        <if test="consignedTimeFrom != null and consignedTimeFrom != '' ">
            AND w.consigned_time <![CDATA[>=]]>#{consignedTimeFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="consignedTimeTo != null and consignedTimeTo!='' ">
            AND w.consigned_time <![CDATA[<=]]> #{consignedTimeTo, jdbcType=TIMESTAMP}
        </if>
        <if test="sendCompanyIds != null and sendCompanyIds.size()>0">
            AND b.send_company_id in
            <foreach collection="sendCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="rcvCompanyIds != null and rcvCompanyIds.size()>0">
            AND b.receive_company_id in
            <foreach collection="rcvCompanyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="custNos !=null and custNos.size()>0">
            AND t.cust_no in
            <foreach collection="custNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="getShipmentDetail" resultMap="ShipmentDetailRM">
      SELECT
        g.goods_id as _goodsId,
        g.goods_num as _goodsNum
      FROM
        t_despatch_goods g
      WHERE
        g.batch_id = #{batchId}
    </select>


</mapper>