<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.OrganizationTypeMapper">

    <sql id="Base_Column_List">
    id, org_type_name, valid, material_mark, bi_rel_type, create_by, create_tm, update_by, update_tm, version
  </sql>

    <select id="selectByPrimaryKey" resultType="com.sf.kh.model.OrganizationType" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_org_type
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_org_type
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.sf.kh.model.OrganizationType" useGeneratedKeys="true" keyProperty="id">
    insert into t_org_type (id, org_type_name, valid, material_mark, bi_rel_type, create_by,
      create_tm, update_by, update_tm, 
      version)
    values (#{id,jdbcType=BIGINT}, #{orgTypeName,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER},  #{materialMark,jdbcType=VARCHAR},
      #{biRelType,jdbcType=INTEGER},
      #{createBy,jdbcType=BIGINT},
      #{createTm,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateTm,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER})
  </insert>

    <insert id="insertSelective" parameterType="com.sf.kh.model.OrganizationType" useGeneratedKeys="true" keyProperty="id">
        insert into t_org_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orgTypeName != null">
                org_type_name,
            </if>
            <if test="valid != null">
                valid,
            </if>

            <if test="materialMark != null">
                material_mark,
            </if>
            <if test="biRelType != null">
                bi_rel_type,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTm != null">
                create_tm,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTm != null">
                update_tm,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orgTypeName != null">
                #{orgTypeName,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=INTEGER},
            </if>

            <if test="materialMark != null">
                #{materialMark,jdbcType=VARCHAR},
            </if>

            <if test="biRelType != null">
                #{biRelType,jdbcType=INTEGER},
            </if>

            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTm != null">
                #{createTm,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTm != null">
                #{updateTm,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sf.kh.model.OrganizationType">
        update t_org_type
        <set>
            <if test="orgTypeName != null">
                org_type_name = #{orgTypeName,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                valid = #{valid,jdbcType=INTEGER},
            </if>

            <if test="materialMark != null">
                material_mark = #{materialMark,jdbcType=VARCHAR},
            </if>
            <if test="biRelType != null">
                and  bi_rel_type = #{biRelType,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTm != null">
                create_tm = #{createTm,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTm != null">
                update_tm = #{updateTm,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listOrganizationTpyes" resultType="com.sf.kh.model.OrganizationType">
        select
        <include refid="Base_Column_List"/>
        from t_org_type
        where 1=1
        <if test="orgTypeName != null">
            and org_type_name = #{orgTypeName,jdbcType=VARCHAR},
        </if>
        <if test="valid != null">
            and valid = #{valid,jdbcType=INTEGER},
        </if>
        <if test="biRelType != null">
            and  bi_rel_type = #{biRelType,jdbcType=INTEGER}
        </if>
        <if test="materialMark != null">
            and  material_mark = #{materialMark,jdbcType=VARCHAR},
        </if>

        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=BIGINT},
        </if>
        <if test="createTm != null">
            and create_tm = #{createTm,jdbcType=TIMESTAMP},
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=BIGINT},
        </if>
        <if test="updateTm != null">
            and update_tm = #{updateTm,jdbcType=TIMESTAMP},
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=INTEGER},
        </if>

    </select>


    <update id="updateByPrimaryKey" parameterType="com.sf.kh.model.OrganizationType">
    update t_org_type
    set org_type_name = #{orgTypeName,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER}
      material_mark = #{materialMark,jdbcType=VARCHAR},
      bi_rel_type #{biRelType, jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      create_tm = #{createTm,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_tm = #{updateTm,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- handled-->

    <select id="query4list" resultType="com.sf.kh.model.OrganizationType">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_org_type
        <where>
            <if test="orgTypeName != null">
                and org_type_name = #{orgTypeName,jdbcType=VARCHAR}
            </if>
            <if test="valid != null">
                and valid = #{valid,jdbcType=INTEGER}
            </if>
            <if test="materialMark != null">
                and  material_mark = #{materialMark,jdbcType=VARCHAR}
            </if>
            <if test="biRelType != null">
                and  bi_rel_type = #{biRelType,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy,jdbcType=BIGINT}
            </if>
            <if test="createTm != null">
                and create_tm = #{createTm,jdbcType=TIMESTAMP}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateTm != null">
                and update_tm = #{updateTm,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null">
                and version = #{version,jdbcType=INTEGER}
            </if>

             <if test="orgTypeIds != null and orgTypeIds.size() > 0">
                and id in
                <foreach collection="orgTypeIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="fuzzyOrgTypeName != null and fuzzyOrgTypeName!='' ">
                and org_type_name like concat(#{fuzzyOrgTypeName,jdbcType=VARCHAR}, '%')
            </if>

        </where>
        ORDER BY create_tm ASC
    </select>


</mapper>