<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.kh.dao.mapper.RolePermitMapper">

    <insert id="insert">
        INSERT INTO t_role_permit (role_id,permit_id) VALUES 
        <foreach collection="list" item="o" index="index" separator=",">
            (#{o.roleId},#{o.permitId})
        </foreach>
    </insert>

    <delete id="delByRoleId">
        DELETE FROM t_role_permit WHERE role_id=#{roleId}
    </delete>

    <delete id="delByPermitId">
        DELETE FROM t_role_permit WHERE permit_id=#{permitId}
    </delete>

    <select id="queryPermitsByRoleId" resultType="string">
        SELECT permit_id FROM t_role_permit WHERE role_id=#{roleId}
    </select>

</mapper>
