<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.kh.dao.mapper.TimeStatisticsVersionDataMapper" >
  <resultMap id="timeStatisticsVersionDataResultMap" type="com.sf.kh.model.TimeStatisticsVersionData" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="send_dept_id" property="sendDeptId" jdbcType="BIGINT" />
    <result column="receive_dept_id" property="receiveDeptId" jdbcType="BIGINT" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="baseColumns" >
    id, send_dept_id, receive_dept_id, month, amount, version
  </sql>
  <select id="selectByDeptNosAndType" resultMap="timeStatisticsVersionDataResultMap">
    select <include refid="baseColumns" />
    from t_time_statistics_version_data
    <where>
    	`version` = (select max(ifnull(`version`,0)) from t_overview_version)
    	<if test="type!=null and type!=''">
    		<if test="type==1">
    			 <if test="deptNos!=null and deptNos.size>0">
		           	and send_dept_id in
		           	<foreach collection="deptNos" item="item" index="index" open="(" close=")" separator=",">
		           		#{item}
		       		</foreach>
		         </if>
		         <if test="deptNos.size == 0">
		         	and send_dept_id = -1
		         </if>
    		</if>
    		<if test="type==2">
    			<if test="deptNos!=null and deptNos.size>0">
		           	and receive_dept_id in
		           	<foreach collection="deptNos" item="item" index="index" open="(" close=")" separator=",">
		           		#{item}
		       		</foreach>
		         </if>
		         <if test="deptNos.size == 0">
		         	and receive_dept_id = -1
		         </if>
    		</if>
    	</if>
    </where>
    order by month asc
  </select>
</mapper>