<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.kh.dao.mapper.UserMapper">

    <resultMap type="com.sf.kh.model.User" id="getByIdMap">
      <id property="id" column="id" />
      <id property="username" column="username" />
      <id property="mobilePhone" column="mobile_phone" />
      <id property="nickname" column="nickname" />
      <id property="status" column="status" />
      <id property="deleted" column="is_deleted" />
      <id property="prompt" column="is_prompt" />
      <id property="deptId" column="dept_id" />
      <id property="deptPurview" column="dept_purview" />
    </resultMap>

    <resultMap type="com.sf.kh.model.User" id="getByUsernameMap">
      <id property="id" column="id" />
      <id property="username" column="username" />
      <id property="mobilePhone" column="mobile_phone" />
      <id property="nickname" column="nickname" />
      <id property="password" column="password" />
      <id property="status" column="status" />
      <id property="deleted" column="is_deleted" />
      <id property="prompt" column="is_prompt" />
      <id property="deptId" column="dept_id" />
      <id property="deptPurview" column="dept_purview" />
    </resultMap>

    <sql id="updateColumns">
        ,version=version+1,update_tm=now()
    </sql>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (
            username,password,status,nickname,mobile_phone,
            is_deleted,create_by,create_tm,update_by,update_tm,version
        ) VALUES 
        <foreach collection="list" item="o" index="index" separator=",">
            (#{o.username},#{o.password},#{o.status},#{o.nickname},#{o.mobilePhone},
             #{o.deleted},#{o.createBy},now(),#{o.updateBy},now(),1)
        </foreach>
    </insert>

    <update id="update">
        UPDATE t_user SET 
        <if test="nickname!=null">nickname=#{nickname},</if>
        <if test="mobilePhone!=null">mobile_phone=#{mobilePhone},</if>
        <if test="password!=null and password!=''">password=#{password},</if>
        <if test="prompt!=null">is_prompt=#{prompt},</if>
        update_by=#{id}<include refid="updateColumns" />
        WHERE id=#{id}
    </update>

    <update id="changeStatus">
        UPDATE t_user 
        SET status=#{status},
            update_by=#{updateBy}<include refid="updateColumns" />
        WHERE id=#{id}
    </update>

    <update id="logicDelete">
        UPDATE t_user 
        SET is_deleted=true,
            update_by=#{updateBy}<include refid="updateColumns" />
        WHERE id IN 
        <foreach collection="uids" item="uid" index="index" open="(" close=")" separator=",">#{uid}</foreach>
    </update>

    <select id="checkUsernameIsExists" resultType="boolean">
        SELECT COUNT(*) flag FROM (
          SELECT 'X' FROM t_user WHERE username=#{username} LIMIT 1
        ) t
    </select>

    <select id="getByUsername" resultMap="getByUsernameMap">
        SELECT u.id,u.username,u.mobile_phone,u.nickname,u.password,
               u.status,u.is_deleted,u.is_prompt,d.dept_id,d.dept_purview
        FROM t_user u 
        LEFT JOIN t_user_dept d ON (u.id=d.user_id)
        WHERE username=#{username}
    </select>

    <select id="getById" resultMap="getByIdMap">
        SELECT u.id,u.username,u.mobile_phone,u.nickname,
               u.status,u.is_deleted,u.is_prompt,d.dept_id,d.dept_purview
        FROM t_user u 
        LEFT JOIN t_user_dept d ON (u.id=d.user_id)
        WHERE id=#{id}
    </select>

    <select id="query4list" resultType="map">
        SELECT u.id, u.username, u.nickname, u.mobile_phone mobilePhone, u.status,
               u.is_deleted deleted, ud.dept_id deptId, ud.dept_purview deptPurview,
               d.dept_name deptName, d.org_type_id orgTypeId, ot.org_type_name orgTypeName
        FROM t_user u
        INNER JOIN t_user_dept ud ON (u.id=ud.user_id) 
        INNER JOIN t_department d ON (ud.dept_id=d.id) 
        INNER JOIN t_org_type  ot ON (ot.id=d.org_type_id) 
        <where>
            <!-- <if test="nickname!=null and nickname!=''">nickname LIKE "%"#{nickname}"%"</if> -->
            <!-- <if test="nickname!=null and nickname!=''">
              <bind name="pattern" value="'%' + _parameter.nickname + '%'" />
              u.nickname LIKE #{pattern}
            </if> -->
            <if test="nickname!=null and nickname!=''">(nickname LIKE CONCAT('%',#{nickname},'%') OR u.username=#{nickname})</if>
            <if test="username!=null and username!=''">AND (nickname LIKE CONCAT('%',#{username},'%') OR u.username=#{username})</if>
            <if test="deleted!=null">AND u.is_deleted=#{deleted}</if>
            <if test="status!=null and status!=''">AND u.status=#{status}</if>
            <if test="orgTypeId!=null and orgTypeId!=''">AND d.org_type_id=#{orgTypeId}</if>
        </where>
        ORDER BY u.update_tm DESC 
    </select>

    <!-- ========================用户单位======================== -->
    <insert id="batchInsertUserDept">
        INSERT INTO t_user_dept (user_id,dept_id,dept_purview) VALUES 
        <foreach collection="list" item="o" index="index" separator=",">
            (#{o.userId},#{o.deptId},#{o.deptPurview})
        </foreach>
    </insert>

    <delete id="deleteUserDept">
        DELETE FROM t_user_dept WHERE user_id=#{userId}
    </delete>

    <update id="updateUserDept">
        UPDATE t_user_dept SET dept_id=#{deptId}, dept_purview=#{deptPurview}
        WHERE user_id=#{userId}
    </update>

     <select id="getDeptUserCount" resultType="java.lang.Integer">
        SELECT COUNT(distinct u.id) FROM
        t_user_dept d, t_user u
        where d.user_id = u.id
        and  u.status = 1
        and d.dept_id = #{deptId}
    </select>

    <!-- <select id="selectUserDeptByUserIds" resultType="com.sf.kh.model.UserDept">
        SELECT user_id,dept_id,dept_purview FROM t_user_dept WHERE user_id IN 
        <foreach collection="list" item="uid" index="index" open="(" close=")" separator=",">#{uid}</foreach>
    </select> -->
</mapper>
